a {
  text-decoration: unset !important;
}
a:hover {
  color: unset !important;
}
body {
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
}

.pointer {
  cursor: pointer;
}

.displayNone {
  display: none;
}
.ant-input,
.ant-input-affix-wrapper {
  border-radius: 6px;
  height: 44px;
  width: 100%;
  padding: 0 8px;
}

.ant-input-wrapper {
  .ant-btn {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
}

.ant-input-number {
  border-radius: 6px;
}

.ant-select-item-option-content,
.ant-select-selection-item {
  text-align: left;
  font: normal normal 600 14px/20px sans-serif;
  letter-spacing: 0px;
  color: #242426;
}
.ant-form-item {
  margin-bottom: 12px !important;
  @media (max-width: 767px) {
    margin-bottom: 10px !important;
  }
}
.ant-form-item-label label {
  padding-bottom: 6px;
  font-weight: 500;
}
.ant-form-vertical .ant-form-item-label,
.ant-col-24.ant-form-item-label,
.ant-col-xl-24.ant-form-item-label {
  padding: 0 !important;
}
.ant-upload.ant-upload-select-picture-card {
  width: 104px;
  height: 104px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  vertical-align: top;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color 0.3s;
}
.ant-upload.ant-upload-select {
  display: inline-block;
}
.ant-upload {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  outline: 0;
}
.ant-upload.ant-upload-select-picture-card > .ant-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.ant-upload-list-item-image {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.ant-upload-list-picture-card .ant-upload-list-item-info::before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s;
  content: " ";
}
.ant-upload-list-picture-card .ant-upload-list-item {
  height: 100%;
  margin: 0;
}
.ant-upload-list-picture .ant-upload-list-item,
.ant-upload-list-picture-card .ant-upload-list-item {
  position: relative;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.ant-upload-list-picture-card .ant-upload-list-item-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
}

.ant-upload-list-picture .ant-upload-list-item:hover,
.ant-upload-list-picture-card .ant-upload-list-item:hover {
  background: transparent;
}

.card-slider {
  max-width: 600px;
  overflow: hidden;
  background: var(--background-color);
}
.card-slider .slick-list {
  width: 90%;
  overflow: visible;
}
.card-slider .slick-track {
  box-sizing: border-box;
}
.card-slider .group {
  background-color: #f9f9f9;
}
.card-slider .card {
  border-radius: 10px;
  background-color: #f9f9f9;
  height: 100%;
  overflow: hidden;
}
.card-slider .card-title {
  color: #180e19;
  font-size: 14px;
  font-weight: 500;
  line-height: 23.492px;
  width: 100%;
  margin-bottom: 8px;
  margin-top: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70px;
  font-weight: 600;
}
.card-slider .card-date,
.card-slider .card-view {
  color: var(--gray-color);
  font-size: 12.02px;
  font-weight: 400;
}

.slick-track .slick-slide.slick-active {
  padding-right: 9px;
  box-sizing: border-box;
  transition: all 0.3s;
}
